[submodule "symbolite"]
	path = symbolite
	url = https://github.com/dyscolab/symbolite
[submodule "poincare"]
	path = poincare
	url = https://github.com/dyscolab/poincare
[submodule "simbio"]
	path = simbio
	url = https://github.com/dyscolab/simbio
